<div class="p-4 max-w-screen-xl mx-auto">
  <mat-card appearance="outlined">
    <mat-card-content>
      <app-users-list 
        [usersList]="usersList" 
        (onUserSelected)="onUserSelected($event)"
        [isInEditMode]="isInEditMode"
      ></app-users-list>

      <app-buttons-container 
      [isInEditMode]="isInEditMode" 
      (onEditButton)="onEditButton()"
      (onCancelButton)="onCancelButton()" 
      *ngIf="userSelectedIndex !== undefined"
      [enableSaveButton]="enableSaveButton"
      >
      </app-buttons-container>


      <app-user-informations-container 
      *ngIf="userSelectedIndex !== undefined" 
      [userSelected]="userSelected"
      [isInEditMode]="isInEditMode"
      (onFormStatusChange)="onFormStatusChange($event)"
      (onUserFormFirstChange)="onUserFormFirstChange()"
      ></app-user-informations-container>

    </mat-card-content>
  </mat-card>
</div>