<div class="p-4 bg-orange-400 grid gap-4">
    <p class="text-2xl font-semibold">Telefones</p>
    <div class="p-4 bg-blue-400 grid gap-4 lg:grid-cols-3">
        <app-user-info-item title="Residencial" text="+55 11 1232-9432"></app-user-info-item>
        <app-user-info-item title="Celular" text="+55 11 1232-9432"></app-user-info-item>
        <app-user-info-item title="Emergecial" text="--"></app-user-info-item>
    </div>
    <p class="text-2xl font-semibold">Endereços</p>
    <div class="p-4 bg-green-400"></div>
</div>
